@use "fonts";

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.card {
    display: grid;
    grid-template-rows: .75fr 3fr 1.25fr;
    border: 5px solid white;
    border-radius: 10px;
    background-color: #8ab661;
    max-width: 300px;
    height: 400px;
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 40px #b8860b;
    }
}

.card-alias > p,
.card-name > p {
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.card-alias > p {
    font-style: italic;
    font-size: 1.3rem;
}

.card-name {
    margin: 0 5px;
}

.card-name > p {
    font-size: 2.5rem;
    line-height: 1;
}

.card-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    border-radius: 5px;
    margin: 5px;
}
